<div class="container">
  <h2 class="text-center"><%= @company.name %></h2>
  <h4 class="text-center">顧客一覧</h4>

  <div class="row mt-5">
    <div class="col-11 col-md-10 mx-auto">
      <%= link_to "顧客追加", new_company_customer_path(@company), class: "btn btn-outline-primary mb-3" %>
      <P>
        <%= link_to '新しい順', company_customers_path(latest: "true"), class: 'text-dark' %> |
        <%= link_to '古い順', company_customers_path(old: "true"), class: 'text-dark' %>
      </P>
      <div class="table-responsive">
        <table class="table table-hover text-nowrap bg-light">
          <thead class="thead-dark">
            <tr>
              <th>名前</th>
              <th>役職</th>
              <th>所属部署</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr class="table_tr_link" data-href="/companies/<%= @company.id %>/customers/<%= customer.id %>">
                <td><%= customer.name %></td>
                <td><%= customer.position %></td>
                <td><%= customer.department %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <div class="d-flex justify-content-center"><%= paginate @customers %></div>
      <p class="text-center"><%= link_to "戻る", company_path(@company), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>