<div class="container">
  <h2 class="text-center">顧客一覧</h2>

  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>名前</th>
          <th>所属部署</th>
          <th>役職</th>
          <th>電話番号</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.name %></td>
            <td><%= customer.department %></td>
            <td><%= customer.position %></td>
            <td><%= customer.phone_number %></td>
            <td><%= customer.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_to "顧客を追加する", new_company_customer_path(@company), class: "btn btn-sm btn-success" %>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
    <p class="text-center"><%= link_to "戻る", company_path(@company) %></p>
    </div>
  </div>


</div>