<div class="container">
  <h2 class="text-center"><%= @company.name %></h2>
  <h4 class="text-center">顧客詳細</h4>

  <div class="row mt-5">
    <div class="col-md-6 text-center mb-3">
      <%= image_tag @customer.get_customer_image(300,300) %>
    </div>
    <div class="col-8 col-md-6 mx-auto">
      <p>名前：<%= @customer.name %></p>
      <p>役職：<%= @customer.position %></p>
      <p>所属部署：<%= @customer.department %></p>
      <p>メールアドレス：<%= @customer.email %></p>
      <p>電話番号：<%= @customer.phone_number %></p>

      <div>
        <%= link_to "編集", edit_company_customer_path(@company, @customer), class: "btn btn-sm btn-success"%>
        <%= link_to "削除", company_customer_path(@company, @customer), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "本当に削除しますか？" } %>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
    <p class="text-center"><%= link_to "一覧へ戻る", company_customers_path(@company) %></p>
    </div>
  </div>

</div>