<%= form_with model: group, local: true do |f| %>

  <div class="form-group">
    <%= f.label :name, 'グループ名' %><span class="bg-danger text-white rounded ml-1 form-parts">必須</span>
    <%= f.text_field :name, autofocus: true, class: "form-control name" %>
  </div>

  <div class="form-group">
    <%= f.label :introduction, '紹介文' %><span class="bg-secondary text-white rounded ml-1 form-parts">任意</span>
    <%= f.text_area :introduction, class: "form-control introduction" %>
  </div>

  <div class="form-group">
    <label for="image">画像</label><span class="bg-secondary text-white rounded ml-1 form-parts">任意</span>
    <div><%= f.file_field :group_image, accept: 'image/*', id: "image" %></div>
  </div>

  <div class="form-group">
    <%= f.submit "登録", class: "btn btn-block btn-success"%>
  </div>

<% end %>