<div class="modal-form">
  <%= form_with model: group, local: false do |f| %>

    <div id="modal_group_messages-error" class=" mx-auto text-center">
      <%= render 'layouts/errors', obj: group %>
    </div>

    <div class="form-group">
      <label for="name">グループ名</label><br>
      <%= f.text_field :name,  class: "form-control", id: "name" %>
    </div>

    <div class="form-group">
      <label for="introduction">紹介文</label><br>
      <%= f.text_area :introduction,  class: "form-control", id: "introduction" %>
    </div>

    <div class="form-group">
      <label for="image">グループ画像</label><br>
      <%= f.file_field :group_image, accept: 'image/*', id: "image" %>
    </div>

    <div class="modal_submit mt-4">
      <%= f.submit "登録", class: "btn btn-sm btn-success" %>
    </div>

  <% end %>
</div>