<div class="container">
  <h2 class="text-center">管理者 Log in</h2>

  <div class="row mt-5">
    <div class="col-10 col-sm-8 col-md-8 col-lg-7 col-xl-6 mx-auto card p-5">


      <%= form_with model: @admin, url: admin_session_path do |f| %>
      <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <div><label for="email">メールアドレス</label></div>
          <div><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "email", placeholder: "Email" %></div>
        </div>

        <div class="form-group">
          <div><label for="password">パスワード</label></div>
          <div><%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "password", placeholder: "Password" %></div>
        </div>

        <div class="form-group ">
          <%= f.submit "Log in", class: "btn btn-block btn-success"%>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
          </div>
        <% end %>

      <% end %>
     </div>
  </div>
  <%#= render "admin/shared/links" %>

</div>
