<div class="modal-form">
  <%= form_with model: department, url: admin_departments_path, local: false do |f| %>

    <div id="modal_department_messages-error" class=" mx-auto text-center">
      <%= render 'layouts/errors', obj: department %>
    </div>

    <div class="form-group">
      <%= f.label :name, '部署名' %><span class="bg-danger text-white rounded ml-1 form-parts">必須</span>
      <%= f.text_field :name, autofocus: true, class: "form-control name" %>
    </div>

    <div class="modal_submit mt-4">
      <%= f.submit "登録", class: "btn btn-block btn-success" %>
    </div>

  <% end %>
</div>