<div class="container">
  <h2 class="text-center">部署編集</h2>
  <div class="col-10 col-md-7 mx-auto">
    <%= render 'layouts/errors', obj: @department %>
  </div>

  <div class="row mt-5">
    <div class="col-10 col-md-7 mx-auto">
    <%= form_with model:@department, url: admin_department_path(@department), method: :patch do |f| %>
      <div class="form-group row">
        <label for="name", class="col-md-3 mx-auto">部署名</label>
        <div class="col-md-9"><%= f.text_field :name,  class: "form-control", id: "name" %></div>
      </div>

      <div class="row mt-3">
        <div class="col-md-3 mx-auto"></div>
        <div class="col-md-9"><%= f.submit "登録", class: "btn btn-sm btn-success"%></div>
      </div>
    <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <p class="text-center"><%= link_to "戻る", admin_departments_path, class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>