<div class="container">
  <h2 class="text-center">部署編集</h2>
  <div class="col-10 col-md-7 mx-auto text-center">
    <%= render 'layouts/errors', obj: @department %>
  </div>

  <div class="row mt-5">
    <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 mx-auto px-5">
    <%= form_with model:@department, url: admin_department_path(@department), method: :patch do |f| %>

      <div class="form-group">
        <%= f.label :name, '部署名' %><span class="bg-danger text-white rounded ml-1 form-parts">必須</span>
        <%= f.text_field :name, autofocus: true, class: "form-control name" %>
      </div>

      <div class="form-group">
        <%= f.submit "登録", class: "btn btn-block btn-success"%>
      </div>

    <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <p class="text-center"><%= link_to "戻る", admin_departments_path, class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>