<div class="container">
  <h2 class="text-center">部署登録 / 一覧</h2>
  <div class="row">
    <%= form_with model:@department, url: admin_departments_path, method: :post do |f| %>
      <table class="table table-borderless">
        <tr>
          <th>部署名</th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "新規登録", class: "btn btn-sm btn-success"%></td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>部署名</th>
        </tr>
      </thead>
      <tbody>
        <% @departments.each do |department| %>
          <tr>
            <td><%= department.name %></td>
            <td><%= link_to "編集", edit_admin_department_path(department.id), class: "btn btn-sm btn-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>