<div class="container">
  <h2 class="text-center mb-3">部署一覧</h2>

  <!--モーダルフォーム-->
  <div class="button_new">
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#departmentModal" data-whatever="@department">新規登録</button>
  </div>

  <div class="modal fade" id="departmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
  	  <div class="modal-content">
  	  <div class="modal-header">
  		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  		  <span aria-hidden="true">×</span>
  		  </button>
  	  </div>
  		<div class="set_center_outer">
  		<h2 class="page_title_en text-center">新規登録</h2>
  		</div>
  		<%= render "modal_department_form", department: @department %>
   	  </div>
    </div>
  </div>
  <!-- ここまで -->

  <div class="row mt-3">
    <div class="col-11 col-md-12 mx-auto">
      <P>
        <%= link_to '新しい順', admin_departments_path(latest: "true"), class: 'text-dark' %> |
        <%= link_to '古い順', admin_departments_path(old: "true"), class: 'text-dark' %>
      </P>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>部署名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @departments.each do |department| %>
            <tr>
              <td><%= link_to department.name, admin_department_path(department.id), class: 'text-dark' %></td>
              <td class="text-right">
                <%= link_to "編集", edit_admin_department_path(department.id), class: "btn btn-outline-success btn-sm" %>
                <%= link_to "削除", admin_department_path(department.id), method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: "本当に削除しますか？" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="mx-auto mt-5"><%= paginate @departments %></div>
  </div>
</div>