<div class="modal-form">
  <%= form_with model: company, url: admin_companies_path, local: false do |f| %>

    <div id="modal_company_messages-error">
      <%= render 'layouts/errors', obj: company %>
    </div>
    
    <div class="form-group">
      <label for="name">得意先名</label><br>
      <%= f.text_field :name,  class: "form-control", id: "name" %>
    </div>

    <div class="form-group">
      <label for="image">画像</label><br>
      <%= f.file_field :company_image, accept: 'image/*', id: "image" %>
    </div>

    <div class="modal_submit mt-4">
      <%= f.submit "登録", class: "btn btn-sm btn-success" %>
    </div>

  <% end %>
</div>