<div class="modal-form">
  <%= form_with model: company, url: admin_companies_path, local: false do |f| %>

    <div id="modal_company_messages-error" class=" mx-auto text-center">
      <%= render 'layouts/errors', obj: company %>
    </div>

    <div class="form-group">
      <%= f.label :name, '得意先名' %><span class="bg-danger text-white rounded ml-1 form-parts">必須</span>
      <%= f.text_field :name, autofocus: true, class: "form-control name" %>
    </div>

    <div class="form-group">
      <label for="image">画像</label><span class="bg-secondary text-white rounded ml-1 form-parts">任意</span>
      <div><%= f.file_field :company_image, accept: 'image/*', id: "image" %></div>
    </div>

    <div class="modal_submit mt-4">
      <%= f.submit "登録", class: "btn btn-block btn-success" %>
    </div>

  <% end %>
</div>