<div class="container">
  <h2 class="text-center mb-3">得意先一覧</h2>

  <!--モーダルフォーム-->
  <div class="button_new">
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#companyModal" data-whatever="@company">新規登録</button>
  </div>

  <div class="modal fade" id="companyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
  	  <div class="modal-content">
  	  <div class="modal-header">
  		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  		  <span aria-hidden="true">×</span>
  		  </button>
  	  </div>
  		<div class="set_center_outer">
  		<h2 class="page_title_en text-center">新規登録</h2>
  		</div>
  		<%= render "modal_company_form", company: @company %>
   	  </div>
    </div>
  </div>
  <!-- ここまで -->

  <div class="row mt-3">
    <div class="col-11 col-md-12 mx-auto">
      <P>
        <%= link_to '新しい順', admin_companies_path(latest: "true"), class: 'text-dark' %> |
        <%= link_to '古い順', admin_companies_path(old: "true"), class: 'text-dark' %>
      </P>
      <%= render 'admin/companies/index', companies: @companies %>
    </div>
  </div>
  <div class="mx-auto mt-5"><%= paginate @companies %></div>

</div>