<div class="d-flex justify-content-between">
  <p>コメント件数：<%= project.project_comments.count %></p>
  <p>
    <%= link_to destroy_all_admin_company_project_project_comments_path(@company, @project), method: :delete, class: "text-danger", data: { confirm: "本当に削除しますか？" }  do %>
      <i class="fas fa-trash-alt"></i>コメント全削除
    <% end %>
  </p>
</div>

<% project.project_comments.each do |project_comment| %>
  <div class="d-flex justify-content-between  p-2">
    <div class="d-flex flex-row align-items-center">
      <div style="min-width:100px">
        <%= link_to admin_user_path(project_comment.user), class: 'text-dark' do %>
          <%= image_tag project_comment.user.get_profile_image(50, 50),class: 'rounded-circle' %><br>
          <%= project_comment.user.name %>
        <% end %>
      </div>
      <p class="break", style="max-width:800px">
        <%= project_comment.comment %>
      </p>
    </div>
    <div class="d-flex align-items-center">
      <%= link_to admin_company_project_project_comment_path(project_comment.project.company,project_comment.project,project_comment), method: :delete, remote: true, class: "text-danger" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
<% end %>
