<% group.chats.each do |chat| %>
  <% if chat.user_id == current_user.id %>
    <div class=" p-2">
      <div class="d-flex justify-content-end">
        <span class="border border-warning rounded p-1 bg-warning">
          <%= chat.message %>
        </span>
      </div>
      <div class="d-flex justify-content-end">
        <span class="mr-2"><%= chat.created_at.strftime('%Y/%m/%d %H:%M') %></span>
        <%= link_to '削除', group_chat_path(chat.group, chat.id), method: :delete, class: "text-danger", remote: true %>
      </div>
    </div>
  <% else %>
    <div class="p-2">
      <div class="d-flex justify-content-start">
        <%= chat.user.name %>
        <span class="ml-2"><%= chat.created_at.strftime('%Y/%m/%d %H:%M') %></span>
      </div>
      <div class="d-flex justify-content-start">
        <span class="border border-dark rounded p-1 bg-white"><%= chat.message %></span>

      </div>
    </div>
  <% end %>
<% end %>