<div class="container">
  <h2 class="text-center"><%= @range %> 検索結果</h2>
  <h4 class="text-center">検索ワード "<%= @word %>"</h4>
  <div class="row mt-5">
    <div class="col-11 col-md-12 mx-auto">
      <% if @range == "ユーザー" %>
        <%= render 'admin/users/index', users: @users %>
      <% elsif @range == "得意先" %>
        <%= render 'admin/companies/index', companies: @companies %>
      <% elsif @range == "プロジェクト" %>
        <%= render 'admin/projects/index', projects: @projects %>
      <% elsif @range == "タグ" %>
        <%= render 'admin/projects/index', projects: @projects %>
      <% else %>
        <%= render 'admin/groups/index', groups: @groups %>
      <% end %>
    </div>

    <% if @range == "ユーザー" %>
      <div class="row mx-auto mt-5"><%= paginate @users %></div>
    <% elsif @range == "得意先" %>
      <div class="row mx-auto mt-5"><%= paginate @companies %></div>
    <% elsif @range == "プロジェクト" %>
      <div class="row mx-auto mt-5"><%= paginate @projects %></div>
    <% elsif @range == "タグ" %>
      <div class="row mx-auto mt-5"><%= paginate @projects %></div>
    <% else %>
      <div class="row mx-auto mt-5"><%= paginate @groups %></div>
    <% end %>

  </div>
</div>