<div class="container">
  <h2 class="text-center">管理者ページ</h2>
  <div class="row mt-5 mb-5 d-flex justify-content-around">
    <div class="border border-light bg-white p-3 mb-3 col-md-5 col-11 d-flex align-items-center flex-wrap">
      <h5>管理者は下記の登録や編集、削除ができます。</h5>
      <ul>
        <li>ユーザーの編集</li>
        <li>得意先の登録、編集、削除</li>
        <li>部署の登録、編集、削除</li>
        <li>プロジェクトの編集、削除</li>
        <li>プロジェクトコメントの削除</li>
        <li>グループの削除</li>
      </ul>
    </div>

    <div class="item-box ">
      <%= link_to admin_users_path, class: 'text-decoration-none' do %>
        <div class="item d-flex align-items-center justify-content-center">
          <div class="text-center h3"><i class="fas fa-users"></i><br>
          メンバー
          </div>
        </div>
      <% end %>

      <%= link_to admin_departments_path, class: 'text-decoration-none' do %>
        <div class="item d-flex align-items-center justify-content-center">
          <div class="text-center h3"><i class="far fa-object-ungroup fa-lg"></i><br>
          部署
          </div>
        </div>
      <% end %>

      <%= link_to admin_groups_path, class: 'text-decoration-none' do %>
        <div class="item d-flex align-items-center justify-content-center">
          <div class="text-center h3"><i class="far fa-object-group fa-lg"></i><br>
          グループ
          </div>
        </div>
      <% end %>

      <%= link_to admin_companies_path, class: 'text-decoration-none' do %>
        <div class="item d-flex align-items-center justify-content-center">
          <div class="text-center h3"><i class="fas fa-building"></i><br>
          得意先
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 mb-3">
      <p>メンバー新着(6件)</p>
      <%= render 'admin/users/index', users: @users %>
    </div>
    <div class="col-md-6 mb-3">
      <p>得意先新着(6件)</p>
      <%= render 'admin/companies/index', companies: @companies %>
    </div>
  </div>
  <p>プロジェクト新着(6件)</p>
  <%= render 'admin/projects/index', projects: @projects %>
  
</div>
