<div class="container">
  <h2 class="text-center"><%= @department.name %><br>メンバー</h2>

  <div class="row mt-5">
    <div class="col-11 col-md-12 mx-auto">
      <P>
        <%= link_to '新しい順', department_path(@department, latest: "true"), class: 'text-dark' %> |
        <%= link_to '古い順', department_path(@department, old: "true"), class: 'text-dark' %>
      </P>
      <%= render 'public/users/index', users: @users %>
    </div>
    <div class="mx-auto mt-5"><%= paginate @users %></div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
    <p class="text-center"><%= link_to "一覧へ戻る", public_users_path, class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>