<div class="container">
  <h2 class="text-center"><%= @company.name %></h2>
  <h4 class="text-center">プロジェクト詳細</h4>
  
  <div class="row mt-5">

    <div class="col-md-6 text-center mb-3">
      <%= image_tag @project.get_project_image(300,300) %>
    </div>

    <div class="col-12 col-sm-8 col-md-6 mx-auto">
      <p>プロジェクト名：<%= @project.name %></p>
      <p><!-- .to_s(:delimited)がデータがない場合干渉する為、if分にてエラー回避 -->
        契約金額：￥
        <% if @project.contract_amount.present? %>
          <%= @project.contract_amount.to_s(:delimited) %>
        <% end %>
      </p>
      <p>期間：<%= @project.start_date %> 〜 <%= @project.end_date %></p>
      <p>受注ステータス：
        <% if @project.order_status == "under_negotiation" %>
          <span class="text-secondary font-weight-bold"><%= @project.order_status_i18n %></span>
        <% elsif @project.order_status == "ordered" %>
          <span class="text-success font-weight-bold"><%= @project.order_status_i18n %></span>
        <% else %>
          <span class="text-danger font-weight-bold"><%= @project.order_status_i18n %></span>
        <% end %>
      </p>
      <p>進捗ステータス：
        <% if @project.progress_status == "not_started_yet" %>
          <span class="text-secondary font-weight-bold"><%= @project.progress_status_i18n %></span>
        <% elsif @project.progress_status == "while_working" %>
          <span class="text-primary font-weight-bold"><%= @project.progress_status_i18n %></span>
        <% else %>
          <span class="text-success font-weight-bold"><%= @project.progress_status_i18n %></span>
        <% end %>
      </p>
      <p>
        <table>
          <td class="d-flex align-items-start">タグ：</td>
          <td>
            <% @project_tags.each do |tag| %>
              <li style="list-style: none"><%= tag.tag_name %>
            <% end %>
          </td>
        </table>
      </p>
      <p>説明：<%= @project.introduction %></p>

      <div>
        <%# if @project.user_id == current_user.id %>
          <%= link_to "編集", edit_admin_company_project_path(@company, @project), class: "btn btn-outline-success btn-sm"%>
          <%= link_to "削除", admin_company_project_path(@company, @project), method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: "本当に削除しますか？" } %>
        <%# end %>
      </div>
    </div>

  </div>

  <div class="mt-5", id="admin_comments_area" >
    <!--<p class="text-right">-->
    <!--  <%#= link_to "コメントを全て削除", destroy_all_admin_company_project_project_comments_path(@company, @project), method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: "本当に削除しますか？" } %>-->
    <!--</p>-->
    <%= render 'admin/project_comments/index', project: @project %>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
    <p class="text-center"><%= link_to "一覧へ戻る", admin_company_projects_path(@company), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>