<div class="container">
  <h2 class="text-center">得意先詳細</h2>
  <div class="row mt-5">
    <div class="col-md-6 text-center">
      <%= image_tag @company.get_company_image(400,400) %>
    </div>
    <div class="col-md-6">
      <p>企業名：<%= @company.name%></p>
      <div>
        <p><%= link_to "事業所一覧", company_offices_path(@company) %></p>
        <p><%= link_to "顧客一覧", company_customers_path(@company) %></p>
        <p><%= link_to "プロジェクト一覧", root_path %></p>
      </div>
    </div>
  </div>
</div>