<div class="container">
  <h2 class="text-center">Sign up</h2>

    <div class="row mt-5">
      <div class="col-10 col-sm-8 col-md-8 col-lg-7 col-xl-6 mx-auto card p-5">
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user' do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>

          <div class="form-group">
            <div><label for="name">名前</label></div>
            <div><%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", id: "name", placeholder: "Name" %></div>
          </div>

          <div class="form-group">
            <div><label for="name_kana">名前（フリガナ）</label></div>
            <div><%= f.text_field :name_kana, autofocus: true, autocomplete: "name_kana", class: "form-control", id: "name_kana", placeholder: "Name Kana" %></div>
          </div>

          <div class="form-group">
            <div><label for="email">メールアドレス</label></div>
            <div><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "email", placeholder: "Email" %></div>
          </div>

          <div class="form-group">
            <div><label for="phone_number">電話番号</label></div>
            <div><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control", id: "phone_number", placeholder: "Phone Number" %></div>
          </div>

          <div class="form-group">
            <div><label for="new-password">パスワード</label></div>
            <%#= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <div><%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "new-password", placeholder: "Password" %></div>
          </div>

          <div class="form-group">
            <div><label for="password_confirmation">パスワード確認用</label></div>
            <div><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "password_confirmation", placeholder: "Password confirmation" %></div>
          </div>

          <div class="form-group ">
            <%= f.submit "Log in", class: "btn btn-block btn-primary"%>
          </div>

        <% end %>
      </div>
    </div>
  <%#= render "public/shared/links" %>
</div>
