<div class="container">
  <h2 class="text-center"><%= @company.name %></h2>
  <h4 class="text-center">プロジェクト一覧</h4>

  <div class="row mt-5">
    <div class="col-11 col-md-12 mx-auto">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>プロジェクト名</th>
            <th>受注ステータス</th>
            <th>進捗ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= link_to project.name, company_project_path(@company, project.id) %></td>

              <td class="font-weight-bold">
                <% if project.order_status == "under_negotiation" %>
                  <span class="text-secondary"><%= project.order_status_i18n %></span>
                <% elsif project.order_status == "ordered" %>
                  <span class="text-success"><%= project.order_status_i18n %></span>
                <% else %>
                   <span class="text-danger"><%= project.order_status_i18n %></span>
                <% end %>
              </td>

              <td class="font-weight-bold">
                <% if project.progress_status == "not_started_yet" %>
                  <span class="text-secondary"><%= project.progress_status_i18n %></span>
                <% elsif project.progress_status == "while_working" %>
                  <span class="text-primary"><%= project.progress_status_i18n %></span>
                <% else %>
                  <span class="text-success"><%= project.progress_status_i18n %></span>
                <% end %>
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-11 col-md-12 mx-auto">
      <%= link_to "プロジェクトを追加する", new_company_project_path(@company), class: "btn btn-sm btn-success" %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
    <p class="text-center"><%= link_to "戻る", company_path(@company) %></p>
    </div>
  </div>


</div>
