<div class="container">
  <h2 class="text-center"><%= @company.name %></h2>
  <h4 class="text-center">プロジェクト一覧</h4>

  <div class="row mt-5">
    <div class="col-11 col-md-12 mx-auto">
      <P>
        <%= link_to '新しい順', company_projects_path(latest: "true"), class: 'text-dark' %> |
        <%= link_to '古い順', company_projects_path(old: "true"), class: 'text-dark' %>
      </P>
      <%= render 'public/projects/index', projects: @projects %>
    </div>
  </div>

  <div class="row">
    <div class="col-11 col-md-12 mx-auto">
      <%= link_to "プロジェクトを追加する", new_company_project_path(@company), class: "btn btn-sm btn-success" %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <div class="d-flex justify-content-center"><%= paginate @projects %></div>
      <p class="text-center"><%= link_to "戻る", company_path(@company), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>
