<div class="container">
  <h2 class="text-center mb-5">プロジェクト詳細</h2>
  <div class="row">
    <div class="col-md-6 text-center">
      <%= image_tag @project.get_project_image(300,300) %>
    </div>
    <div class="col-md-6">
      <p>プロジェクト名：<%= @project.name %></p>
      <p>期間：<%= @project.start_date %> 〜 <%= @project.end_date %></p>
      <p>受注ステータス：<span class="text-success"><%= @project.order_status_i18n %></span></p>
      <p>進捗ステータス：<span class="text-primary"><%= @project.progress_status_i18n %></span></p>
      <p>説明：<%= @project.introduction %></p>

      <div>
        <%= link_to "編集", edit_company_project_path(@company, @project), class: "btn btn-sm btn-success"%>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
    <p class="text-center"><%= link_to "一覧へ戻る", company_projects_path(@company) %></p>
    </div>
  </div>

</div>