<div class="container">
  <h2 class="text-center"><%= @company.name %></h2>
  <h4 class="text-center">プロジェクト詳細</h4>

  <div class="row mt-5">
    <div class="col-md-6 text-center mb-3">
      <%= image_tag @project.get_project_images(300,300) %><br>
      <% @count = 0 %>
      <% @project.project_images.each do |image| %>
        <%= link_to url_for(image),class: 'text-dark' do %>
          <i class="fas fa-image"></i> 画像表示<%= @count += 1 %><br>
        <% end %>
      <% end %>
    </div>
    <div class="col-12 col-sm-8 col-md-6 mx-auto">
      <p>プロジェクト名：<%= @project.name %></p>
      <p><!-- .to_s(:delimited)がデータがない場合干渉する為、if分にてエラー回避 -->
        契約金額：￥
        <% if @project.contract_amount.present? %>
          <%= @project.contract_amount.to_s(:delimited) %>
        <% end %>
      </p>
      <p>期間：<%= @project.start_date %> 〜 <%= @project.end_date %></p>
      <!-- プロジェクトの注文ステータスによって文字色変更 -->
      <p>受注ステータス：
        <% if @project.order_status == "under_negotiation" %>
          <span class="text-secondary font-weight-bold"><%= @project.order_status_i18n %></span>
        <% elsif @project.order_status == "ordered" %>
          <span class="text-success font-weight-bold"><%= @project.order_status_i18n %></span>
        <% else %>
          <span class="text-danger font-weight-bold"><%= @project.order_status_i18n %></span>
        <% end %>
      </p>
      <!-- プロジェクトの進捗ステータスによって文字色変更 -->
      <p>進捗ステータス：
        <% if @project.progress_status == "not_started_yet" %>
          <span class="text-secondary font-weight-bold"><%= @project.progress_status_i18n %></span>
        <% elsif @project.progress_status == "while_working" %>
          <span class="text-primary font-weight-bold"><%= @project.progress_status_i18n %></span>
        <% else %>
          <span class="text-success font-weight-bold"><%= @project.progress_status_i18n %></span>
        <% end %>
      </p>
      <p>
        <table>
          <td class="d-flex align-items-start">タグ：</td>
          <td>
            <% @project_tags.each do |tag| %>
              <li style="list-style: none">
                <%= link_to tag_path(tag.id), class: "text-dark" do %>
                  <i class="fas fa-tag"></i> <%= tag.tag_name %>
                <% end %>
              </li>
            <% end %>
          </td>
        </table>
      </p>
      <p>説明：<%= @project.introduction %></p>
      <p>営業担当：<%= link_to @project.user.name, public_user_path(@project.user.id), class: 'text-dark' %></p>
      <!--  いいねボタン　-->
      <div id="favorite_btn_<%= @project.id %>">
        <%= render 'public/favorites/btn', company: @company, project: @project %>
      </div>
      <!-- プロジェクト作成者のみ編集可能 -->
      <div>
        <% if @project.user_id == current_user.id %>
          <%= link_to edit_company_project_path(@company, @project), class: 'btn btn-outline-success btn-sm' do %>
            <i class="far fa-edit"></i> 編集
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mt-5", id="comments_area">
    <!--　コメント表示　-->
    <%= render 'public/project_comments/index', project: @project %>
  </div>

  <div id="comments_error">
    <!--　エラーメッセージ　-->
    <%= render 'layouts/errors', obj: @project_comment %>
  </div>

  <div class="mt-5">
    <!-- コメントフォーム　-->
    <%= render 'public/project_comments/form', company: @company, project: @project, project_comment: @project_comment %>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
    <p class="text-center"><%= link_to "一覧へ戻る", company_projects_path(@company), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>