<div class="table-responsive">
  <table class="table table-hover text-nowrap bg-light">
    <thead class="thead-dark">
      <tr>
        <th>事業所名</th>
        <th>所在地</th>
        <th>電話番号</th>
      </tr>
    </thead>
    <tbody>
      <% offices.each do |office| %>
        <tr class="table_tr_link" data-href="/companies/<%= office.company.id%>/offices/<%= office.id%>">
          <td><%= office.name %></td>
          <td><%= office.total_address %></td>
          <td><%= office.phone_number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>