<div class="container">
  <h2 class="text-center"><%= @company.name %></h2>
  <h4 class="text-center">事業所一覧</h4>

  <div class="row mt-5">
    <div class="col-11 col-md-12 mx-auto">
      <P>
        <%= link_to '新しい順', company_offices_path(latest: "true"), class: 'text-dark' %> |
        <%= link_to '古い順', company_offices_path(old: "true"), class: 'text-dark' %>
      </P>
      <%= render 'public/offices/index', offices: @offices %>
    </div>
  </div>

  <div class="row">
    <%= link_to "事業所を追加する", new_company_office_path(@company), class: "btn btn-sm btn-success" %>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <div class="d-flex justify-content-center"><%= paginate @offices %></div>
      <p class="text-center"><%= link_to "戻る", company_path(@company), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>