<div class="container">
  <h2 class="text-center">メンバー編集</h2>

  <div class="col-10 col-md-7 mx-auto">
    <%= render 'layouts/errors', obj: @user %>
  </div>

  <div class="row mt-5">
    <div class="col-10 col-md-7 mx-auto">
      <%= form_with model:@user, url: admin_user_path(@user), method: :patch do |f| %>

        <div class="form-group row">
            <div class="col-md-3 mx-auto"><label for="name">名前</label></div>
            <div class="col-md-9"><%= f.text_field :name,  class: "form-control", id: "name" %></div>
          </div>

        <div class="form-group row">
          <div class="col-md-3 mx-auto"><label for="name_kana">名前（フリガナ）</label></div>
          <div class="col-md-9"><%= f.text_field :name_kana, class: "form-control", id: "name_kana" %></div>
        </div>

        <div class="form-group row">
          <div class="col-md-3 mx-auto"><label for="email">メールアドレス</label></div>
          <div class="col-md-9"><%= f.email_field :email, class: "form-control", id: "email" %></div>
        </div>

        <div class="form-group row">
          <div class="col-md-3 mx-auto"><label for="phone_number">電話番号</label></div>
          <div class="col-md-9"><%= f.text_field :phone_number, class: "form-control", id: "phone_number" %></div>
        </div>

        <div class="form-group row">
          <div class="col-md-3 mx-auto"><label for="department">所属部署</label></div>
          <div class="col-md-9"><%= f.select :department_id, Department.all.map{|o| [o.name, o.id]}, { include_blank: "--選択してください--" }, class: "form-control", id: "department" %></div>
        </div>

        <div class="form-group row">
          <div class="col-md-3 mx-auto"><label for="position">役職</label></div>
          <div class="col-md-9"><%= f.text_field :position, class: "form-control", id: "position" %></div>
        </div>

        <div class="form-group row">
          <div class="col-md-3 mx-auto"><label for="image">画像</label></div>
          <div class="col-md-9"><%= f.file_field :profile_image, accept: 'image/*', id: "image" %></div>
        </div>

        <div class="form-group row">
          <div class="col-md-3 mx-auto"><label for="is_deleted">在籍状態</label></div>
          <div class="col-md-9"><%= f.select :is_deleted, [['在籍中', false], ['退社済', true]], {selected: @user.is_deleted}, class: "form-control", id: "position" %></div>
        </div>

        <div class="row mt-3">
           <div class="col-md-3 mx-auto"></div>
          <div class="col-md-9"><%= f.submit "登録", class: "btn btn-sm btn-success"%></div>
        </div>

      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <p class="text-center"><%= link_to "戻る", admin_user_path(@user), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>