<div class="containern">
  <%= render 'layouts/errors', obj: @user %>
  <h2 class="text-center">メンバー編集</h2>

  <div class="row">
    <div class="col-md-7 mx-auto">
    <%= form_with model:@user, url: admin_user_path(@user), method: :patch do |f| %>
      <table class="table table-borderless">
        <tr>
          <th>名前</th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th>名前（フリガナ）</th>
          <td><%= f.text_field :name_kana %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= f.text_field :phone_number %></td>
        </tr>
        <tr>
          <th>所属部署</th>
          <td><%= f.select :department_id, Department.all.map{|o| [o.name, o.id]}, { include_blank: "--選択してください--" } %></td>
        </tr>
        <tr>
          <th>役職</th>
          <td><%= f.text_field :position %></td>
        </tr>
        <tr>
          <th>画像</th>
          <td><%= f.file_field :profile_image, accept: 'image/*' %></td>
        </tr>
        <tr>
          <th>在籍状態</th>
          <td> <%= f.select :is_deleted, [['在籍中', false], ['退社済', true]], {selected: @user.is_deleted} %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "更新", class: "btn btn-sm btn-success"%></td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
    <p class="text-right"><%= link_to "戻る", admin_user_path(@user) %></p>
    </div>
  </div>

</div>