<div class="container">
  <h2 class="text-center">Log in</h2>

  <div class="row mt-5">
    <div class="col-10 col-sm-8 col-md-8 col-lg-7 col-xl-6 mx-auto card p-5">
      <%= form_with model: @user, url: user_session_path do |f| %>
        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %><span class="bg-danger text-white rounded ml-1 form-parts">必須</span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control email", placeholder: "Email" %>
        </div>

        <div class="form-group">
          <%= f.label :password, 'パスワード' %><span class="bg-danger text-white rounded ml-1 form-parts">必須</span>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control password", placeholder: "Password" %>
        </div>

        <div class="form-group ">
          <%= f.submit "Log in", class: "btn btn-block btn-success"%>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
  <%#= render "public/shared/links" %>
</div>
