<div class="container">
  <h2 class="text-center mb-5">メンバー詳細</h2>
  <div class="row mt-5">
    <div class="col-md-6 text-center mb-3">
      <%= image_tag @user.get_profile_image(300,300) %>
    </div>
    <div class="col-8 col-md-6 mx-auto">
      <p>名前：<%= @user.name %></p>
      <p>フリガナ：<%= @user.name_kana%></p>
      <p>役職：<%= @user.position %></p>
      <p>所属部署：
        <% if @user.department_id.present? %>
          <%= @user.department.name %>
        <% end %>
      </p>
      <p>
        <i class="far fa-envelope"></i>メールアドレス：<%= @user.email %>
      </p>
      <p>
        <i class="fas fa-phone-alt"></i>電話番号：<%= @user.phone_number %>
      </p>
      <p><%= link_to "いいねしたプロジェクトを見る" , public_path(@user), class: 'btn btn-outline-dark btn-sm' %></p>

      <div>
        <% if @user.name != "guestuser"  %> <!--ゲストログインだと編集ボタンは表示しない-->
          <% if @user.id == current_user.id %> <!--＠user.idとログインユーザーのidが一致しない場合編集ボタンは表示しない-->
            <%= link_to edit_public_user_path(@user), class: 'btn btn-outline-dark btn-sm '  do %>
              <i class="far fa-edit"></i>編集
            <% end %>
          <% end %>
        <% end %>
      </div>

      <% if @user.is_deleted == false %>
        <p class="text-success font-weight-bold pt-2">在籍中</p>
      <% else %>
        <p class="text-danger font-weight-bold pt-2">退社済</p>
      <% end %>

    </div>
  </div>

  <div class="row mt-5">
    <div class="col-11 col-md-12 mx-auto">
      <h4>担当案件</h4>
      <%= render 'public/projects/index', projects: @user.projects %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
    <p class="text-center"><%= link_to "一覧へ戻る", public_users_path, class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>