<!DOCTYPE html>
<html>
  <head>
    <title>WorkInfoUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% elsif admin_signed_in? %>
      <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      <li><%= link_to "得意先一覧", admin_companies_path %></li>
      <li><%= link_to "部署一覧", admin_departments_path %></li>
      <li><%= link_to "メンバー", admin_users_path %></li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
  </header>

  <!-- フラッシュメッセージ -->
  <% if flash[:notice] %>
    <div class="text-success">
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="text-danger">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
